@media screen and (max-width:768px) {
    .black-content h2{
        font-size: 30px !important;
    }
    .footer-container{
        grid-template-columns: repeat(2,1fr) !important;
        margin: 0 !important;
      }
/* **************cart page********* */
.item-list ul li input{
  width: 80% !important;
  padding: 0 5px !important;

}
.item-list{
  font-size: 14px !important;
}
}
@media screen and (max-width:571px) {
      .footer-container{
        grid-template-columns: 1fr !important;
        gap: 1rem 2rem !important;
      }
}
